.homeContainer{
    justify-content: center;
    align-items: center;
}
.homeLogo{
    margin-top: 10%;
    margin-left: 40%;
}

.comingSoon{
    margin-top: 2%;
    margin-left: 38%;
    margin-right: 0;
    font-size: 200%;
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.moveToPrice{
    margin-top: 2%;
    margin-left: 32%;
    margin-right: 0;
    font-size: 200%;
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width:1024px){
    .comingSoon{
        margin-left: 37.5%;
    }
    .moveToPrice{
        margin-left: 29%;
    }
}

@media (max-width:768px){
    .homeLogo{
        margin-left: 35%;
    }
    .comingSoon{
        margin-left: 32%;
    }
    .moveToPrice{
        margin-left: 20%;
    }
}

@media (max-width:425px){
    .homeLogo{
        margin-left: 23%;
    }
    .comingSoon{
        margin-left: 17%;
    }
    .moveToPrice{
        margin-left: 10%;
        font-size: 150%;
    }
}

@media (max-width:375px){
    .moveToPrice{
        font-size: 140%;
        text-shadow: none;
    }
}

@media (max-width:320px){
    .homeLogo{
        margin-left: 18%;
    }
    .comingSoon{
        margin-left: 15%;
        font-size: 180%;
    }
    .moveToPrice{
        font-size: 115%;
        text-shadow: none;
    }
}